*{
    margin: 0px;
    padding: 0px;
}
.all_init{
    display: flex;
    justify-content: center;
    background-color: #000;    
    align-items: center; 
    min-height: 100vh;
}
.Glow_box{ 
    position: relative;
    width: 400px;
    height: 400px;
    min-height: 0vh;
}
.Glow_box::before,.Glow_box::after{
    content: '';
    position: absolute;
    top:-2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background-color: #fff;
    z-index: -1;
    background:linear-gradient(235deg,#88ff00,#041555,#000)
}
.Glow_box::after{
    filter: blur(40px);
}
.content{
    color: #fff;
    padding: 20px;
    font-family: Consolas;
    font-size: 140%;
}
